/* GLOBAL */
body {
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) no-repeat;
    text-align: center;
    font-family: 'Lobster', cursive;
    background-image: url("~assets/Icy_Background.jpg");
    overflow-y: scroll;
}

h1 {
    border: 0.125em solid;
    display: inline-block;
    padding: 0.25em;
}